.orders-page-wrapper {
	width: 100%;
	max-width: 1500px;
	padding: 2rem 5rem;
	/* background-color: blue; */
	margin: 0 auto;
	min-width: 500px;
}

.title-not-loggedin {
	display: flex;
	justify-content: center;
	color: #576161;
	padding: 0rem 4rem 0rem 4rem;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
}

.orders-return-home {
	color: #007185;
}

.instruct-login {
	padding-top: 3rem;
}

.orders-title {
	font-weight: 400;
	white-space: nowrap;
}

.orders-search {
	display: flex;
	max-width: 1500px;
	justify-content: space-between;
}

.search-orders-btn {
	border-radius: 20px;
	box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
	background: #303333;
	border-color: #0f1111;
	color: #fff;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none !important;
	vertical-align: middle;
	padding: 1px 6px;
	font-size: 13px;
	line-height: 25px;
	font-weight: 700;
}

input.search-all-orders {
	padding: 3px;
	margin-right: 8px;
	border: 1px solid #888c8c;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
	outline: 0;
	background-color: #fff;
	height: 31px;
	padding: 3px 7px;
	line-height: normal;
	width: 20rem;
}
.order-page-columns {
	border-bottom: 1px #ddd solid;
	margin-top: 5px;
	margin-bottom: 1rem;
	padding-left: 15px;
}
.order-page-header-column {
	padding-right: 2rem;
	color: #007185;
	font-size: 14px;
	padding-bottom: 0.5rem;
	cursor: pointer;
}

.order-page-header-info {
	display: flex;
}

.orders-placed {
	font-weight: 800px;
	font-size: 14px;
	color: #000;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
	.orders-page-wrapper {
		padding: 2rem;
	}
}
@media screen and (max-width: 800px) {
	.orders-page-wrapper {
		background-color: rgb(140, 140, 207);
	}

	.orders-title {
		font-size: 25px;
	}

	.search-input {
		display: flex;
		width: 60%;
	}

	.search-orders-btn {
		width: 190px;
		height: 30px;
		font-size: 12px;
		padding: 3px;
		line-height: 16px;
	}

	.order-page-columns {
		font-size: 12px;
		white-space: nowrap;
	}
}
