.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #0f1111;
	transition: all 0.3s linear;
	transform: translate(100%);
	z-index: -1;
	text-align: center;
}

.sidebar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}
.sidebar-logo {
	justify-self: center;
	height: 60px;
	cursor: pointer;
}

.close-btn {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	color: #fff;
	margin-bottom: 1.5rem;
}

.close-btn > svg {
	color: #fff !important;
	font-size: 1.8rem;
}

.show-sidebar {
	transform: translate(0);
	z-index: 999;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;

	height: 60%;
	padding: 4rem 0rem;
}

.sidebar-option {
	color: #fff;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	padding: 2rem 0.5rem;
	font-weight: 400;
}

.sidebar-option:hover,
.sidebar-option-icon:hover {
	background-color: rgba(255, 255, 255, 0.3);
	height: auto;

}

.sidebar-option-one {
	font-size: 11px;
}
.sidebar-option-two {
	font-size: 14px;
	font-weight: 800;
}

.sidebar-option-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
}

/*  */
.sidebar-cart-container {
	width: 80px;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.sidebar-icon {
	width: 40px;
	transform: scale(-1, 1);
	transform-origin: center;
}
.sidebar-basket-count {
	position: absolute;
	font-size: 12px;
	top: 20px;
	/*left: 13%; */
	margin-left: auto;
	margin-right: auto;
	left: 3px;
	right: -3px;
	text-align: center;
	color: #f08804;
	font-weight: 700;
	justify-content: center;
	letter-spacing: -1px;
}

.sidebar-cart-name {
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	margin-top: -10px;
	margin-left: 6px;
	text-align: center;
	/* line-height: 2px; */
}

@media screen and (min-width: 900px) {
	.sidebar {
		display: none;
	}
}
