.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 500px;
}

.footer-back-to-top {
	background: #37475a;
	height: 50px;
	width: 100%;
	min-width: 2px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	cursor: pointer;
}

.footer-back-to-top > div {
	color: #fff;
	font-size: 13px;
	line-height: 19px;
	font-weight: 700;
}

.footer-back-to-top:hover {
	background: rgba(55, 71, 90, 0.9);
}

.footer-top {
	background-color: #232f3e;
	color: #fff;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 3rem 10rem;
}

.footer-top-section > p {
	color: #fff;
	font-size: 1.1rem;
	font-weight: 700;
	margin: 6px 0 14px 0;
	white-space: nowrap;
}

.footer-top-link > a {
	color: #ddd;
	text-decoration: none;
	font-size: 14px;
	margin: 0 0 10px;
	line-height: 1rem;
	font-weight: 600;
}

.footer-bottom {
	background-color: #131a22;
	padding: 30px 0;
	/* margin: 30px 0 0; */
	width: 100%;
}

.footer-bottom-links {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 3rem 10rem;
	justify-items: center;
}

.footer-bottom-link {
	color: #ddd;
	display: flex;
	flex-direction: column;
	font-size: 12px !important;
	padding: 0 0.75em;
	vertical-align: top;
	text-align: left;
	line-height: 115%;
	margin-bottom: 1rem;
	max-width: 100px;
	cursor: pointer;
}

ul.footer-end-links {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

li.footer-end-link {
	color: #fff;
	padding: 0 1rem;
	text-align: center;
}

li.footer-end-link > a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
	.footer-top {
		display: grid;
		grid-template-columns: repeat(2, minmax(250px, 1fr));
	}

	.footer-top-section {
		margin: 2rem;
	}

	.footer-bottom-links {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: 3rem 10rem;
	}
}
@media screen and (max-width: 800px) {
	.footer-top {
		padding: 0;
	}

	.footer-bottom-links {
		/* grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: 3rem 0rem;
		margin: 0; */
		display: none;
	}

	ul.footer-end-links {
		display: flex;
		flex-direction: column;
	}
}
