.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 1500px;
	padding: 0px;
	min-width: 500px;
}

@media screen and (max-width: 600px) {
	.home {
		overflow-x: scroll;
		margin: 0;
		padding: 0;
	}
}
